<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <title>Main Page - Smart ID Scanner</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lightbox.css') }}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Header Area Start ***** -->
    <section>
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="{{ url_for('.home') }}" class="logo">
                                SMART ID SCANNER
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div id="alert-msg">
        {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        <!-- <li>{{ message }}</li> -->

        <!-- <div class="alert alert-success" role="alert" id="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ message }}</strong>
    </div> -->

    
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
        </svg>

        <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24">
                <use xlink:href="#check-circle-fill" />
            </svg>
            <div>
                 {{ message }}
            </div>
        </div>

        {% endfor %}

        {% endif %}
        {% endwith %}
        </div>
        <!-- {% block body %}{% endblock %} -->
        <div class="welcome">
            {{ welcome }}
        </div>
        <div class="logout">
            <a href="/logout" class="logout-button">Log Out</a>
        </div>

        <div class="record">
            <h2> No. Of Records Saved : {{ records }}</h2>
        </div>

        <div class="text-content">
            <a href="{{ url_for('add_records') }}" class="main-stroked-button">Add A New Record</a>
            <a href="{{ url_for('display_records') }}" class="main-filled-button">View Existing Records</a>
        </div>

        <div class="delete-account">
            <a href="/delete_account" class="delete-button">Delete Account</a>
        </div>

        <script type="text/javascript">
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0)
            }, 4000);

        </script>
        <!-- Bootstrap -->
        <script src="static/js/popper.js"></script>
        <script src="static/js/bootstrap.min.js"></script>

        <!-- Plugins -->
        <script src="static/js/owl-carousel.js"></script>
        <script src="static/js/scrollreveal.min.js"></script>
        <script src="static/js/waypoints.min.js"></script>
        <script src="static/js/jquery.counterup.min.js"></script>
        <script src="static/js/imgfix.min.js"></script>
        <script src="static/js/slick.js"></script>
        <script src="static/js/lightbox.js"></script>
        <script src="static/js/isotope.js"></script>

        <!-- Global Init -->
        <script src="static/js/custom.js"></script>

    </section>
</body>

</html>